In [64]:
students = {
    "maulik" :{
        "college" : "MU",
        "type" : "offline"
    },
    "aman" : "NPGC",
    "abhay" : "NPGC",
    "mazahir" : "AU",
    "LMADUL" : "IU",
    "prashutosh" : "SHUATS",
    "shoeb" : {
        "collage" : "IET",
        "type" : "online"
    },
    "mandavi" : {
        "college" : "HNBGU",
        "type" : "ONLINE"
    }
}

In [65]:
print(students)

{'maulik': {'college': 'MU', 'type': 'offline'}, 'aman': 'NPGC', 'abhay': 'NPGC', 'mazahir': 'AU', 'LMADUL': 'IU', 'prashutosh': 'SHUATS', 'shoeb': {'collage': 'IET', 'type': 'online'}, 'mandavi': {'college': 'HNBGU', 'type': 'ONLINE'}}

In [66]:
from pprint import pp

In [67]:
pp(students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'aman': 'NPGC',
 'abhay': 'NPGC',
 'mazahir': 'AU',
 'LMADUL': 'IU',
 'prashutosh': 'SHUATS',
 'shoeb': {'collage': 'IET', 'type': 'online'},
 'mandavi': {'college': 'HNBGU', 'type': 'ONLINE'}}

In [68]:
students["mandavi"]["type"]

'ONLINE'

In [69]:
students["sumit"]={
    "college" : "D.P. VERMA",
    "TYPE" : "OFLINE"
}

In [70]:
pp(students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'aman': 'NPGC',
 'abhay': 'NPGC',
 'mazahir': 'AU',
 'LMADUL': 'IU',
 'prashutosh': 'SHUATS',
 'shoeb': {'collage': 'IET', 'type': 'online'},
 'mandavi': {'college': 'HNBGU', 'type': 'ONLINE'},
 'sumit': {'college': 'D.P. VERMA', 'TYPE': 'OFLINE'}}

In [71]:
pp(students , width=20)

{'maulik': {'college': 'MU',
            'type': 'offline'},
 'aman': 'NPGC',
 'abhay': 'NPGC',
 'mazahir': 'AU',
 'LMADUL': 'IU',
 'prashutosh': 'SHUATS',
 'shoeb': {'collage': 'IET',
           'type': 'online'},
 'mandavi': {'college': 'HNBGU',
             'type': 'ONLINE'},
 'sumit': {'college': 'D.P. '
                      'VERMA',
           'TYPE': 'OFLINE'}}

In [72]:
students["shoeb"]["type"] = "flexi"

pp(students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'aman': 'NPGC',
 'abhay': 'NPGC',
 'mazahir': 'AU',
 'LMADUL': 'IU',
 'prashutosh': 'SHUATS',
 'shoeb': {'collage': 'IET', 'type': 'flexi'},
 'mandavi': {'college': 'HNBGU', 'type': 'ONLINE'},
 'sumit': {'college': 'D.P. VERMA', 'TYPE': 'OFLINE'}}

In [73]:
students.pop("abhay")

'NPGC'

In [74]:
pp(students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'aman': 'NPGC',
 'mazahir': 'AU',
 'LMADUL': 'IU',
 'prashutosh': 'SHUATS',
 'shoeb': {'collage': 'IET', 'type': 'flexi'},
 'mandavi': {'college': 'HNBGU', 'type': 'ONLINE'},
 'sumit': {'college': 'D.P. VERMA', 'TYPE': 'OFLINE'}}

In [75]:
report = {
    "class10" : {
        "rohan" :{
            "english" : 90,
            "maths" : 95,
            "hindi" : 85,
            "science" : 95,
            "social" : 95,
            "p.e." : 95,
        },
        "mohat" : {
             "english" : 90,
            "maths" : 95,
            "hindi" : 75,
            "science" : 95,
            "social" : 65,
            "p.e." : 95,
        },
        "shreya" : {
             "english" : 70,
            "maths" : 95,
            "hindi" : 75,
            "science" : 95,
            "social" : 55,
            "p.e." : 95,
        },
        "shubham" : {
             "english" : 70,
            "maths" : 65,
            "hindi" : 85,
            "science" : 55,
            "social" : 65,
            "p.e." : 95,
        },
        "shruti" : {
             "english" : 70,
            "maths" : 55,
            "hindi" : 65,
            "science" : 95,
            "social" : 45,
            "p.e." : 55,
        },
        "alex" : {
             "english" : 80,
            "maths" : 45,
            "hindi" : 65,
            "science" : 95,
            "social" : 75,
            "p.e." : 95,
        },
    }
}

In [76]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 95,
                       'hindi': 85,
                       'science': 95,
                       'social': 95,
                       'p.e.': 95},
             'mohat': {'english': 90,
                       'maths': 95,
                       'hindi': 75,
                       'science': 95,
                       'social': 65,
                       'p.e.': 95},
             'shreya': {'english': 70,
                        'maths': 95,
                        'hindi': 75,
                        'science': 95,
                        'social': 55,
                        'p.e.': 95},
             'shubham': {'english': 70,
                         'maths': 65,
                         'hindi': 85,
                         'science': 55,
                         'social': 65,
                         'p.e.': 95},
             'shruti': {'english': 70,
                        'maths': 55,
                        'hindi': 65,
                        'science': 95,
                        'social': 45,
                        'p.e.': 55},
             'alex': {'english': 80,
                      'maths': 45,
                      'hindi': 65,
                      'science': 95,
                      'social': 75,
                      'p.e.': 95}}}

In [77]:
print(report.keys())

dict_keys(['class10'])

In [78]:
report["class10"].keys()

dict_keys(['rohan', 'mohat', 'shreya', 'shubham', 'shruti', 'alex'])

In [79]:
report["class10"]["rohan"].keys()

dict_keys(['english', 'maths', 'hindi', 'science', 'social', 'p.e.'])

In [80]:
report['class10']["rohan"]["english"]

90

In [81]:
report.values()

dict_values([{'rohan': {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, 'mohat': {'english': 90, 'maths': 95, 'hindi': 75, 'science': 95, 'social': 65, 'p.e.': 95}, 'shreya': {'english': 70, 'maths': 95, 'hindi': 75, 'science': 95, 'social': 55, 'p.e.': 95}, 'shubham': {'english': 70, 'maths': 65, 'hindi': 85, 'science': 55, 'social': 65, 'p.e.': 95}, 'shruti': {'english': 70, 'maths': 55, 'hindi': 65, 'science': 95, 'social': 45, 'p.e.': 55}, 'alex': {'english': 80, 'maths': 45, 'hindi': 65, 'science': 95, 'social': 75, 'p.e.': 95}}])

In [82]:
report["class10"].values()

dict_values([{'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, {'english': 90, 'maths': 95, 'hindi': 75, 'science': 95, 'social': 65, 'p.e.': 95}, {'english': 70, 'maths': 95, 'hindi': 75, 'science': 95, 'social': 55, 'p.e.': 95}, {'english': 70, 'maths': 65, 'hindi': 85, 'science': 55, 'social': 65, 'p.e.': 95}, {'english': 70, 'maths': 55, 'hindi': 65, 'science': 95, 'social': 45, 'p.e.': 55}, {'english': 80, 'maths': 45, 'hindi': 65, 'science': 95, 'social': 75, 'p.e.': 95}])

In [83]:
report

{'class10': {'rohan': {'english': 90,
   'maths': 95,
   'hindi': 85,
   'science': 95,
   'social': 95,
   'p.e.': 95},
  'mohat': {'english': 90,
   'maths': 95,
   'hindi': 75,
   'science': 95,
   'social': 65,
   'p.e.': 95},
  'shreya': {'english': 70,
   'maths': 95,
   'hindi': 75,
   'science': 95,
   'social': 55,
   'p.e.': 95},
  'shubham': {'english': 70,
   'maths': 65,
   'hindi': 85,
   'science': 55,
   'social': 65,
   'p.e.': 95},
  'shruti': {'english': 70,
   'maths': 55,
   'hindi': 65,
   'science': 95,
   'social': 45,
   'p.e.': 55},
  'alex': {'english': 80,
   'maths': 45,
   'hindi': 65,
   'science': 95,
   'social': 75,
   'p.e.': 95}}}

In [84]:
movies ={
    "3 idiots" : "a story abour 3 idiot frds",
    "lunchbox" : "a story about a lunchbox",
    "dangal" : "a story abhout a wrestler",
    "pk" : "a story about an alien",
    "taare zameen par" : "a story abhout a dyslexicchild",
}

In [85]:
movies.items()

dict_items([('3 idiots', 'a story abour 3 idiot frds'), ('lunchbox', 'a story about a lunchbox'), ('dangal', 'a story abhout a wrestler'), ('pk', 'a story about an alien'), ('taare zameen par', 'a story abhout a dyslexicchild')])

In [86]:
for k, v in movies.items():
    print(k, v)

3 idiots a story abour 3 idiot frds
lunchbox a story about a lunchbox
dangal a story abhout a wrestler
pk a story about an alien
taare zameen par a story abhout a dyslexicchild

In [87]:
for k, v in movies.items():
    print(f"{k:30} {v}")

3 idiots                       a story abour 3 idiot frds
lunchbox                       a story about a lunchbox
dangal                         a story abhout a wrestler
pk                             a story about an alien
taare zameen par               a story abhout a dyslexicchild

In [88]:
isinstance(report["class10"],dict)  # verify if th object is a data type

True

In [91]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name , subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                for subject, marks in subjects.items():
                    print('->',subject,'=',marks)

class10
-> rohan
-> english = 90
-> maths = 95
-> hindi = 85
-> science = 95
-> social = 95
-> p.e. = 95
-> mohat
-> english = 90
-> maths = 95
-> hindi = 75
-> science = 95
-> social = 65
-> p.e. = 95
-> shreya
-> english = 70
-> maths = 95
-> hindi = 75
-> science = 95
-> social = 55
-> p.e. = 95
-> shubham
-> english = 70
-> maths = 65
-> hindi = 85
-> science = 55
-> social = 65
-> p.e. = 95
-> shruti
-> english = 70
-> maths = 55
-> hindi = 65
-> science = 95
-> social = 45
-> p.e. = 55
-> alex
-> english = 80
-> maths = 45
-> hindi = 65
-> science = 95
-> social = 75
-> p.e. = 95

In [93]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name , subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                total = 0 #reset total for each student
                for subject, marks in subjects.items():
                    total += marks
                    print("  total->",total)

class10
-> rohan
  total-> 90
  total-> 185
  total-> 270
  total-> 365
  total-> 460
  total-> 555
-> mohat
  total-> 90
  total-> 185
  total-> 260
  total-> 355
  total-> 420
  total-> 515
-> shreya
  total-> 70
  total-> 165
  total-> 240
  total-> 335
  total-> 390
  total-> 485
-> shubham
  total-> 70
  total-> 135
  total-> 220
  total-> 275
  total-> 340
  total-> 435
-> shruti
  total-> 70
  total-> 125
  total-> 190
  total-> 285
  total-> 330
  total-> 385
-> alex
  total-> 80
  total-> 125
  total-> 190
  total-> 285
  total-> 360
  total-> 455

In [95]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name , subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                total = sum(subjects.values())
                print(" avg->",total//6)

class10
-> rohan
 avg-> 92
-> mohat
 avg-> 85
-> shreya
 avg-> 80
-> shubham
 avg-> 72
-> shruti
 avg-> 64
-> alex
 avg-> 75

In [97]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name , subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                mm = marks
                sub = subject
                print(' max->',sub,mm)

class10
-> rohan
 max-> p.e. 95
-> mohat
 max-> p.e. 95
-> shreya
 max-> p.e. 95
-> shubham
 max-> p.e. 95
-> shruti
 max-> p.e. 95
-> alex
 max-> p.e. 95