In [1]:
def adder (a,b,c):
    ans = a+b+c
    print(ans)

In [2]:
adder (21,56,2)

79

## types of function on the basis of parameters
## required arguments
## named arguments
## default arguments
## vaiable length arguments
## keyword arguments

In [3]:
def hyp(p, b):
    h = (p**2 + b**2)**0.5
    return h

In [4]:
hyp (10, 4)

10.770329614269007

In [5]:
hyp(p=20, b=10)

22.360679774997898

In [6]:
def multiplier(a,b,c,d):
    return a*b*c*d

In [7]:
multiplier(10,20, d=30, c=10)

60000

In [8]:
def multiplier(a, b, c=1, d=1):
    return a*b*c*d

In [9]:
print(multiplier(10,20))

200

In [10]:
print(multiplier(10,20,30))
print(multiplier(10,20,30,40))
print(multiplier(10,20,c=30,d=40))
print(multiplier(10,20,d=30,c=40))

6000
240000
240000
240000

In [11]:
def multiplierv3(*data):
    result = 1
    for i in data:
        result = result * i
    return result

In [12]:
print(multiplierv3())
print(multiplierv3(2,3,4))
print(multiplierv3(2,3,4,5,6,7,8,9,10))
print(multiplierv3(2,2,2,2,2,2,2,2,2,2))

1
24
3628800
1024

In [13]:
def names (**items):
    for key, value in items. items():
        print(key, value)

In [14]:
names (name1="sumit", name2="vikash", name3="ballu")

name1 sumit
name2 vikash
name3 ballu

## generator funcion

In [15]:
# generator funcion

def ganerate (start, stop):
    for i in range(start, stop):
        yield i

In [16]:
list(ganerate(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
def otp_generator():
    import random
    for i in range(6):
        yield str(random.randint(0,9))

In [18]:
"".join(list(otp_generator()))

'207666'

f(x) = x^2 + 10x +20

f(5)

In [19]:
f = lambda x: x**2 + 10 * x + 20

In [20]:
f(10) + f(2)

264

In [21]:
g = lambda x, y: x**2 + y**2 + 10*x*y

In [22]:
g(31,12) + f(5)

4920

In [23]:
si = lambda p, r, t: p*r*t/100

In [24]:
si (1000, 10, 2)

200.0

##### map and filter
##### mapping-to perform a function on element of a sequence
##### filtering-to extract elements from a sequence based on a condition

In [25]:
x= [2,1,5,6,20,16,10]
f =lambda i: i**2 + 10*i + 20
list(map(f, x))

[44, 31, 95, 116, 620, 436, 220]

In [26]:
# square of all value

print(x)
list(map(lambda i: i**2,x))

[2, 1, 5, 6, 20, 16, 10]

[4, 1, 25, 36, 400, 256, 100]

In [27]:
list(map(int, input('enter some values:').split()))

[12345]

In [28]:
x = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda i: i>5, x))

[6, 7, 8, 9, 10]

In [29]:
list(filter(lambda i: i%2==0, x))

[2, 4, 6, 8, 10]

In [30]:
names = ["john","Alex","jane","jack","jill","mary","sam"]
list(filter(lambda i: "a" in i.lower() , names))

['Alex', 'jane', 'jack', 'mary', 'sam']

### file handing

In [31]:
# reading a file (text file)

file = open("t1.py")
print(file.read())
file.close

from turtle import *

speed("slowest")

fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
bk(100)
rt(60)

mainloop()

In [32]:
# with - it is used to handle closing of any resource automatically
with open("t1.py") as file:
    print(file.read())

from turtle import *

speed("slowest")

fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
fd(100)
lt(60)
bk(100)
rt(60)

mainloop()

In [33]:
sample_data="""name,age,city
john,20,delhi
alex,25,mumbai
jane,30,chennai
jack,35,kolkata
"""
print(sample_data)

name,age,city
john,20,delhi
alex,25,mumbai
jane,30,chennai
jack,35,kolkata

In [34]:
with open("data.text", "w") as f:
    f.write(sample_data)

In [35]:
import os
os.makedirs("files",exist_ok=True)

In [36]:
with open("files/data.txt", "w") as f:
    f.write(sample_data)