In [39]:
x=(1,2,3)
print(x)
print(type(x))

TypeError: 'set' object is not callable

In [ ]:
x=1,2,3,4 #tuple packing
print(x)
print(type(x))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
print(x[0])
print(x[-1])
print(x[:2])

1
4
(1, 2)

In [ ]:
x=(1,2,3,1,2,3,4,5,6,7,8,9,5,1,2,3)
y=(x.count(1))
print(y)

3

In [ ]:
x.index(5) # index of first 5

7

In [ ]:
a=[1,2,3]
a[0]=100
print(a)

[100, 2, 3]

In [ ]:
a=()
print(a)
a=list(a)  #foece to be a list
a.append(1)
a.append(2)
a.append(3)
a= tuple(a) #force to bo a tuple
print(a)

()
(1, 2, 3)

#### sets unorderedonly unique value

In [ ]:
x={1,2,3,4,5,6,7,8,91,2,3,1}
x

{1, 2, 3, 4, 5, 6, 7, 8, 91}

In [ ]:
y={"sumit","vikash","ballu","madhu","sumit","ram"}
y

{'ballu', 'madhu', 'ram', 'sumit', 'vikash'}

In [ ]:
y.add("red")
y

{'ballu', 'madhu', 'ram', 'red', 'sumit', 'vikash'}

In [ ]:
y.remove("ram")
y

{'ballu', 'madhu', 'red', 'sumit', 'vikash'}

In [ ]:
account_section={
    "ajay","sumit","vikash","ballu","mohan","madhu"
}
marketing_section={
    "ajay","sumit","sumit","ballu"
}

In [ ]:
account_section | marketing_section #union

{'ajay', 'ballu', 'sumit', 'vikash'}

In [40]:
account_section & marketing_section #intersection

{'ajay', 'ballu', 'sumit'}

In [41]:
account_section - marketing_section #difference

{'madhu', 'mohan', 'vikash'}

In [42]:
account_section ^ marketing_section #symmetric difference

{'madhu', 'mohan', 'vikash'}

In [43]:
account_section.union (marketing_section)  #union

{'ajay', 'ballu', 'madhu', 'mohan', 'sumit', 'vikash'}