In [23]:
x=(1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [24]:
x=("sumit",1),2,3
print(x)
print(type(x))

(('sumit', 1), 2, 3)
<class 'tuple'>

In [25]:
x=1,2,3,4 #tuple packing
print(x)
print(type(x))

(1, 2, 3, 4)
<class 'tuple'>

In [26]:
print(x[0])
print(x[-1])
print(x[:2])

1
4
(1, 2)

In [27]:
x=(1,2,3,1,2,3,4,5,6,7,8,9,5,1,2,3)
y=(x.count(1))
print(y)

3

In [28]:
x.index(5) # index of first 5

7

In [29]:
a=[1,2,3]
a[0]=100
print(a)

[100, 2, 3]

In [30]:
a=()
print(a)
a=list(a)  #foece to be a list
a.append(1)
a.append(2)
a.append(3)
a= tuple(a) #force to bo a tuple
print(a)

()
(1, 2, 3)

#### sets unorderedonly unique value

In [31]:
x={1,2,3,4,5,6,7,8,91,2,3,1}
x

{1, 2, 3, 4, 5, 6, 7, 8, 91}

In [32]:
y={"sumit","vikash","ballu","madhu","sumit","ram"}
y

{'ballu', 'madhu', 'ram', 'sumit', 'vikash'}

In [33]:
y.add("red")
print(y)

{'ram', 'ballu', 'sumit', 'vikash', 'red', 'madhu'}

In [34]:
y.remove("vikash")
print(y)

{'ram', 'ballu', 'sumit', 'red', 'madhu'}

In [35]:
account_section={
    "ajay","sumit","vikash","ballu","mohan","madhu"
}
marketing_section={
    "ajay","sumit","sumit","ballu"
}

In [36]:
account_section | marketing_section #union

{'ajay', 'ballu', 'madhu', 'mohan', 'sumit', 'vikash'}

In [37]:
account_section & marketing_section #intersection

{'ajay', 'ballu', 'sumit'}

In [38]:
account_section - marketing_section #difference

{'madhu', 'mohan', 'vikash'}

In [39]:
account_section ^ marketing_section #symmetric difference

{'madhu', 'mohan', 'vikash'}

In [40]:
account_section.union (marketing_section)  #union

{'ajay', 'ballu', 'madhu', 'mohan', 'sumit', 'vikash'}